
<launch>
  <!-- roslaunch turtlebot3_bringup turtlebot3_model.launch -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_model.launch" />
   <!-- roslaunch turtlebot3_gazebo turtlebot3_empty_world.launch -->
  <!-- <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_empty_world.launch"/> -->
  <!-- rosrun lab2 lab2.py -->
  <node pkg="lab2" type="drive.py" name="lab2_drive_node" output="screen" />

</launch>

