<launch>
  <!-- roslaunch turtlebot3_gazebo turtlebot3_empty_world.launch -->
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_empty_world.launch"/>
  <!-- roslaunch turtlebot3_gazebo turtlebot3_gazebo_rviz.launch -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find Lab3)/rviz/rbe3002_lab3.rviz"/>
  <!-- rosrun Lab3 lab3.py -->
  <node pkg="Lab3" type="path_planner.py" name="lab3_node" output="screen" />

  <node pkg="Lab3" type="drive.py" name="drive" output="screen" />
  
  <node name="simple_map" pkg="map_server" type="map_server"  args ="$(find Lab3)/maps/simple_map.yaml"/>
  <!-- rosrun tf static_transform_publisher 0 0 0 0 0 0 /map /odom 100 -->
  <!-- <node name="tf" pkg="tf" type="static_transform_publisher"  args ="0 0 0 0 0 0 /odom /map 100"/> -->
  <node name="tf" pkg="tf" type="static_transform_publisher"  args ="0 0 0 0 0 0 /map /odom 100"/>


  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="burger"/>

  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)"/>
  </include>

  
</launch>
