

<launch>
  <!-- <include file="$(find Lab4)/launch/practice_exploration.launch"/> -->
  <include file="$(find Lab4)/launch/maze_sim.launch"/>
  <include file="$(find Lab4)/launch/slam.launch">
    <param name="slam_methods" type="string" value="gmapping"/>
  </include>

  <!-- <include file="$(find turtlebot3_bringup)/launch/turtlebot3_model.launch"/> -->
  <!-- <node name="rviz_lab4" pkg="rviz" type="rviz" args="-d $(find Lab4)/rviz/rbe3002_lab4.rviz"/> -->
  
  <!-- <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="burger"/> -->

</launch>


