

<launch>
  <!-- <include file="$(find lab4)/launch/practice_exploration.launch"/> -->
  <include file="$(find lab4)/launch/maze_sim.launch"/>
  <include file="$(find lab4)/launch/slam.launch">
    <param name="slam_methods" type="string" value="gmapping"/>
  </include>

  <!-- <include file="$(find turtlebot3_bringup)/launch/turtlebot3_model.launch"/> -->
  <!-- <node name="rviz_lab4" pkg="rviz" type="rviz" args="-d $(find lab4)/rviz/rbe3002_lab4.rviz"/> -->
  <node pkg="lab4" type="drive.py" name="lab2_drive_node" output="screen" />
  <!-- <node pkg="lab4" type="path_planner.py" name="lab2_drive_node" output="screen" /> -->
  
  <!-- <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="burger"/> -->

</launch>


